<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="margin: auto;">
        <script>window.__appCDN="https://cdn.webcomponents.psu.edu/cdn/";</script>
        <script src="https://cdn.webcomponents.psu.edu/cdn/build.js"></script>
        <div style="background-image: url('https://live.staticflickr.com/5293/5537894072_c4e46bfce1_b.jpg'); background-size: cover; background-repeat: no-repeat; width: 100vw; height: 100vh;">
            <div style="height: 10vh"></div>
            <div style="margin: auto; width: 70vw; height: 80vh; padding-top: 5vh; padding-left: 4vw; padding-right: 4vw; background-color: rgba(0, 0, 0, 0.9);">
                <h1 style="color: white;">Login</h1>
                <form id="form" action="#" th:action="@{/validate}" th:object="${user}" method="post">
                    <div style="margin-top: 10vh;">
                        <h5 style="color: white;">Email:</h5>
                        <div><input id="emailfield" type="hidden" th:field="*{email}"/><simple-fields-field id="email" type="text" style="--simple-fields-color: white;"></simple-fields-field></div>
                    </div>
                    <div style="margin-top: 7vh;">
                        <h5 style="color: white;">Password:</h5>
                        <div><input id="passfield" type="hidden" th:field="*{userpass}"/><simple-fields-field id="pass" type="text" style="--simple-fields-color: white;"></simple-fields-field></div>
                    </div>
                    <div style="margin-top: 7vh;">
                        <button id="submitbutton" type="submit" style="color: white; padding: 16px; background-color: black; border-color: white; border-radius: 8px; transition-duration: 0.4s">Submit</button>
                    </div>
                    <div style="margin-top: 3vh;">
                        <h5 style="color: white;">Don't have an account yet? <a href="register">Sign up here</a>.</h5>
                    </div>
                </form>
                <p style="color: white;" th:if="${param.error}">
                    Invalid username or password
                </p>
            </div>
        </div>
        <script>
            document.getElementById("email").addEventListener("value-changed", function(e) {
                document.getElementById("emailfield").value = e.detail.value;
            });
            document.getElementById("pass").addEventListener("value-changed", function(e) {
                document.getElementById("passfield").value = e.detail.value;
            });
            document.getElementById("submitbutton").addEventListener("mouseover", function() {
                document.getElementById("submitbutton").style.backgroundColor = "white";
                document.getElementById("submitbutton").style.color = "black";
            });
            document.getElementById("submitbutton").addEventListener("mouseout", function() {
                document.getElementById("submitbutton").style.backgroundColor = "black";
                document.getElementById("submitbutton").style.color = "white";
            });
        </script>
    </body>
</html>
