<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Settings</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="margin: auto;">
        <script>window.__appCDN="https://cdn.webcomponents.psu.edu/cdn/";</script>
        <script src="https://cdn.webcomponents.psu.edu/cdn/build.js"></script>
        <div style="height: 8vh; display: grid; grid-template-columns: 20% 20% 20% 20% 20%; background-color: black;">
            <img src="https://photo.isu.pub/atz.sa/photo_large.jpg" height="100%"/>
            <button id="applybutton-nav" onclick="window.location.href='/apply'" style="color: white; padding: 16px; background-color: black; border-color: white; border-radius: 8px; transition-duration: 0.4s;">Apply</button>
            <button id="loansbutton-nav" onclick="window.location.href='/loans'" style="color: white; padding: 16px; background-color: black; border-color: white; border-radius: 8px; transition-duration: 0.4s; margin-left: 5%;">Loans</button>
            <button id="accountsbutton-nav" onclick="window.location.href='/accounts'" style="color: white; padding: 16px; background-color: black; border-color: white; border-radius: 8px; transition-duration: 0.4s; margin-left: 5%;">Accounts</button>
            <button id="settingsbutton-nav" onclick="window.location.href='/settings'" style="color: white; padding: 16px; background-color: black; border-color: white; border-radius: 8px; transition-duration: 0.4s; margin-left: 5%;">Settings</button>
        </div>
        <div style="background-image: url('https://live.staticflickr.com/5293/5537894072_c4e46bfce1_b.jpg'); background-size: cover; background-repeat: no-repeat; width: 100vw; height: 100vh;">
            <div style="height: 10vh"></div>
            <div style="margin: auto; width: 70vw; height: 70vh; padding-top: 5vh; padding-left: 4vw; padding-right: 4vw; background-color: rgba(0, 0, 0, 0.9);">
                <div style="display: grid; grid-template-columns: 10% 90%; grid-template-rows: 15%;">
                    <button id="homebutton" onclick="window.location.href='/home'" style="color: white; padding: 16px; background-color: black; border-color: white; border-radius: 8px; transition-duration: 0.4s; margin-right: 5%;">Home</button>
                    <h1 style="color: white; margin-top: 0px; margin-bottom: 0px;">Personal Info</h1>
                </div>
                <form action="#" th:action="@{/update}" th:object="${user}" method="post">
                    <div style="margin-top: 3vh;">
                        <h5 style="color: white;">First Name:</h5>
                        <div><input id="fnamefield" type="hidden" th:field="*{fname}"/><simple-fields-field id="fname" type="text" style="--simple-fields-color: white;"></simple-fields-field></div>
                    </div>
                    <div style="margin-top: 3vh;">
                        <h5 style="color: white;">Last Name:</h5>
                        <div><input id="lnamefield" type="hidden" th:field="*{lname}"/><simple-fields-field id="lname" type="text" style="--simple-fields-color: white;"></simple-fields-field></div>
                    </div>
                    <div style="margin-top: 3vh;">
                        <h5 style="color: white;">Email:</h5>
                        <div><input id="emailfield" type="hidden" th:field="*{email}"/><simple-fields-field id="email" type="text" style="--simple-fields-color: white;"></simple-fields-field></div>
                    </div>
                    <div style="margin-top: 3vh;">
                        <h5 style="color: white;">Password:</h5>
                        <div><input id="passfield" type="hidden" th:field="*{userpass}"/><simple-fields-field id="pass" type="password" style="--simple-fields-color: white;"></simple-fields-field></div>
                    </div>
                    <div style="margin-top: 3vh">
                        <button id="submitbutton" type="submit" style="color: white; padding: 16px; background-color: black; border-color: white; border-radius: 8px; transition-duration: 0.4s">Change Info</button></td>
                    </div>
                </form>
                <button id="logout" onclick="window.location.href='/logout'" style="color: white; padding: 16px; background-color: black; border-color: white; border-radius: 8px; transition-duration: 0.4s; margin-right: 5%;">logout</button>
                <p style="color: white;" th:object="${feedback}" th:text="${feedback}"></p>
            </div>
        </div>
        <script>
            document.getElementById("homebutton").addEventListener("mouseover", function() {
                document.getElementById("homebutton").style.backgroundColor = "white";
                document.getElementById("homebutton").style.color = "black";
            });
            document.getElementById("homebutton").addEventListener("mouseout", function() {
                document.getElementById("homebutton").style.backgroundColor = "black";
                document.getElementById("homebutton").style.color = "white";
            });
            document.getElementById("submitbutton").addEventListener("mouseover", function() {
                document.getElementById("submitbutton").style.backgroundColor = "white";
                document.getElementById("submitbutton").style.color = "black";
            });
            document.getElementById("submitbutton").addEventListener("mouseout", function() {
                document.getElementById("submitbutton").style.backgroundColor = "black";
                document.getElementById("submitbutton").style.color = "white";
            });
            document.getElementById("logout").addEventListener("mouseover", function() {
                document.getElementById("logout").style.backgroundColor = "white";
                document.getElementById("logout").style.color = "black";
            });
            document.getElementById("logout").addEventListener("mouseout", function() {
                document.getElementById("logout").style.backgroundColor = "black";
                document.getElementById("logout").style.color = "white";
            });
            document.getElementById("applybutton-nav").addEventListener("mouseover", function() {
                document.getElementById("applybutton-nav").style.backgroundColor = "white";
                document.getElementById("applybutton-nav").style.color = "black";
            });
            document.getElementById("applybutton-nav").addEventListener("mouseout", function() {
                document.getElementById("applybutton-nav").style.backgroundColor = "black";
                document.getElementById("applybutton-nav").style.color = "white";
            });
            document.getElementById("loansbutton-nav").addEventListener("mouseover", function() {
                document.getElementById("loansbutton-nav").style.backgroundColor = "white";
                document.getElementById("loansbutton-nav").style.color = "black";
            });
            document.getElementById("loansbutton-nav").addEventListener("mouseout", function() {
                document.getElementById("loansbutton-nav").style.backgroundColor = "black";
                document.getElementById("loansbutton-nav").style.color = "white";
            });
            document.getElementById("accountsbutton-nav").addEventListener("mouseover", function() {
                document.getElementById("accountsbutton-nav").style.backgroundColor = "white";
                document.getElementById("accountsbutton-nav").style.color = "black";
            });
            document.getElementById("accountsbutton-nav").addEventListener("mouseout", function() {
                document.getElementById("accountsbutton-nav").style.backgroundColor = "black";
                document.getElementById("accountsbutton-nav").style.color = "white";
            });
            document.getElementById("settingsbutton-nav").addEventListener("mouseover", function() {
                document.getElementById("settingsbutton-nav").style.backgroundColor = "white";
                document.getElementById("settingsbutton-nav").style.color = "black";
            });
            document.getElementById("settingsbutton-nav").addEventListener("mouseout", function() {
                document.getElementById("settingsbutton-nav").style.backgroundColor = "black";
                document.getElementById("settingsbutton-nav").style.color = "white";
            });
            document.getElementById("loansbutton-nav-2").addEventListener("mouseover", function() {
                document.getElementById("loansbutton-nav-2").style.backgroundColor = "white";
                document.getElementById("loansbutton-nav-2").style.color = "black";
            });
            document.getElementById("loansbutton-nav-2").addEventListener("mouseout", function() {
                document.getElementById("loansbutton-nav-2").style.backgroundColor = "black";
                document.getElementById("loansbutton-nav-2").style.color = "white";
            });
            document.getElementById("accountsbutton-nav-2").addEventListener("mouseover", function() {
                document.getElementById("accountsbutton-nav-2").style.backgroundColor = "white";
                document.getElementById("accountsbutton-nav-2").style.color = "black";
            });
            document.getElementById("accountsbutton-nav-2").addEventListener("mouseout", function() {
                document.getElementById("accountsbutton-nav-2").style.backgroundColor = "black";
                document.getElementById("accountsbutton-nav-2").style.color = "white";
            });
        </script>
    </body>
</html>